// font-family: 'Open Sans', sans-serif;
a, button, a:active, a:focus, *[class*='slick']{
    outline: none !important;   
}
*:focus{
    outline: none;
}
.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }
div[class*="column"] {  
    float: left; 
    padding: 0 15px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row { 
    margin-left: -15px;  
    margin-right: -15px;
}

.row:after ,.clearfix:after {
    content:"";
    display: block;
    clear: both;
}

.pull-right {float:right} 
.pull-left{float:left}
.text-right{text-align:right;} 
.text-center{text-align:center;}
.inline-block {display: inline-block;} 
.block {display: block;} 
ul.list-inline{padding:0; margin:0}
ul.list-inline>li{display: inline-block;} 
.inline {display: inline}
.container{ 
    width: 940px; 
    margin: 0 auto;
    padding: 0px 10px;
}
body{
	min-width: 1200px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    color: #7ec9c3;
    margin: 0;
}
a {
    text-decoration: none;
}

.logo img{
    max-width: 100%;
    padding-top: 10px;
}
.navigation-row {
    background-color: #000;
}
.main-nav__list{
    text-align: right;

}
.main-nav__item{
    margin-right: 30px;
}
.main-nav__link{
    font-size: 18px;
    line-height: 60px;
    text-transform: uppercase;
    color: #7ec9c3;
}
.main-nav__item:last-child{
    margin-right: 0;
}
.main-nav__link--socio{
    // margin-top: 15px;
    height: 25px;
    width: 25px;
    display: inline-block;
}
.main-nav__link--socio img{
    height: 100%;
    width: 100%;
}


.promo{
    background-image: url(../img/sprite/bg_promo.jpg);
    // background-size: cover;
    background-repeat: no-repeat;
    // height: 95vh;    
    position: relative;
    z-index: 1;
}
.promo:before{
    content: "";
    position: absolute;
    background-image: url(../img/sprite/logo_touch.png);
    width: 213px;
    height: 307px;
    background-repeat: no-repeat;
    top: 100px;
    left: 550px; //пробовала l0+r0, не сработало
}
.promo-title{
    padding: 440px 0 93px 0px;
    text-align: center;
    margin: 0 10%;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
}



.quests__list{
    margin-top: -36px;
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.quests-title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
    position: relative;

}
.quests-title:before, .quest-info:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/sprite/wheel.png);
    top: -40px;
    width: 90px;
    height: 123px;
    background-size: 100%;
    vertical-align: top; 
    left: 440px;
}


.quest-cart__big{
    margin: 10px auto;
    min-height: 280px;
    border: 1px solid transparent;

}
.quest-cart__big:hover{
    border: 1px solid #7ec9c3;
}
.quest-cart-title{
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    width: 26%;
    padding: 0px 0 0 60px;
}
.quest-cart__big-text{
    width: 45%;
    color: #fff;
}
.quest-cart__big-setting{
    display: inline-block;
    padding-left: 60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.quest-cart__big--people{
    position: relative;
}
.quest-cart__big--price{
    position: relative;
}
.quest-cart__big--time{
    position: relative;
}
.quest-cart__big--people:before, .quest-info__numbers--people:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/sprite/people.png);
    width: 26px;
    height: 30px;
    left: 20px;
    bottom: -5px; 
}
.quest-cart__big--price:before, .quest-info__numbers--price:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/sprite/price.png);
    width: 23px;
    height: 30px;
    left: 20px;
    bottom: -5px;
}
.quest-cart__big--time:before, .quest-info__numbers--time:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/sprite/time.png);
    width: 22px;
    height: 30px;
    left: 20px;
    bottom: -5px;   
}
.quest-cart__small{
    border: 1px solid transparent;
    min-height: 280px;
    margin-bottom: 70px;
    position: relative;
}
.quest-cart__small:hover{
    border: 1px solid #7ec9c3;
}

.quest-cart__small-text{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    width: 130px;
    position: absolute;
    top: 180px;
    left: 320px;
}
.quest-cart__small--open{
    color: #fdf;
}
.quest-cart__small:nth-child(2n-1){
    // margin-right: 10px;
}
.quest-cart__big--experiment{
    background-image: url(../img/sprite/bg_experiment.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}
.quest-cart__small--postapocalypse{
    background-image: url(../img/sprite/bg_postap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.quest-cart__small--cosmo{
    background-image: url(../img/sprite/bg_cosmo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.about{
    background-color: #000;
    margin-top: -36px;
}
.about__title{
    font-weight: normal;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}
.about-item{
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    
}
.about-item__img{
    height: 85px;
    max-width: 100%;
    margin: 0 auto; 
}
.about-item__text{
    text-transform: uppercase;
    max-width: 130px;   
    text-align: center;
    padding-left: 35px;
}
.about-text{
    width: 85%;
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 95px;
}
.about-name{
    color: #7ec9c3;
}


.reviews{
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -36px;
    position: relative;
    background-attachment: fixed;
}
.reviews .slick-prev, 
.reviews .slick-next{
    position: absolute;
    border: none;
    background-color: transparent;
    z-index: 5;
} 
.reviews .slick-prev{
    left: -55px;
    top: 50%;
} 
.reviews .slick-next{
    top: 49%;
    right: -55px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    
}
.reviews-title{
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px
}
.reviews-item{
    min-height: 250px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
}
// .reviews-item:nth-child(2n-1){
//     margin-right: 5px;
// }
.reviews-item__name{
    color: #fff;
    display: inline-block;
    float: left;
    padding: 10px 65px 0 30px;
}
.reviews-item__date{
    display: inline-block;
    padding-top: 10px;
}
.reviews-item__text{
    margin-top: 0;
    display: block;
    padding-left: 30px;
    width: 85%;
}
.reviews-form__data{
    margin-top: 15px;

}
.reviews-form__text{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    resize: none;
    height: 170px;
    width: 100%;
    margin: 15px 0;
}
.reviews-form__name{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
}
.reviews-form__mail{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
}
.reviews-form__send{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    margin-top: 7px;
}

.contacts{
    background-color: #000;
    padding-left: 10px;
}
.contacts-details{
    
}
.contacts-title{
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    
}
.contacts-item{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
   padding-left: 40px;
}
.contacts-item--city{
    position: relative;
}
.contacts-item--metro{
    position: relative;
}
.contacts-item--time{
    position: relative;
}
.contacts-item--phone{
    position: relative;
}
.contacts-item--mail{
    position: relative;
}
.contacts-item--city:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/sprite/pin.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;    
}
.contacts-item--metro:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/sprite/metro.png);
    background-repeat: no-repeat;
    left: 0;    
    background-size: 100%;
    position: absolute;
    
}
.contacts-item--time:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/sprite/schedule.png);
    background-repeat: no-repeat;
    left: 0;    
    background-size: 100%;
    position: absolute;
    
}
.contacts-item--phone:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/sprite/phone.png);
    background-repeat: no-repeat;
    left: 0;    
    background-size: 100%;
    position: absolute;
    
}
.contacts-item--mail:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/sprite/mail.png);
    background-repeat: no-repeat;
    left: 0;    
    background-size: 100%;
    position: absolute;
    
}
.action-link{
    display: inline-block;
    padding: 10px 58px;
    margin: 10px 0 40px 0;
    background-color: #3f7772;
    color: #fff;
}
.contacts_socio img{
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 10px;
}


.footer{
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 75px;
}



.banner{
    background-image: url(../img/bg_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.banner-title{
    padding: 50px 85px;
    line-height: 40px;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    width: 40%;
    position: relative;
}
.banner-title:before{
    position: absolute;
    content: "";
    display: block;
    height: 80px;
    width: 71px;
    background-image: url(../img/sprite/logo_experiment.png);
    left: 0;
    bottom: 55px;
}
.quest-info{
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.quest-info__text--description{
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}
.quest-info__numbers--people{
    position: relative;
    padding-left: 40px;
}
.quest-info__numbers--price{
    position: relative;
    padding-left: 40px;
}
.quest-info__numbers--time{
    position: relative;
    padding-left: 40px;
}
.quest-info__numbers--people:before{
    left: 2px;
}
.quest-info__numbers--price:before{
    left: 2px;
}
.quest-info__numbers--time:before{
    left: 2px;
}