// font-family: 'Open Sans', sans-serif;

* GRID*/

.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }
div[class*="column"] {  
    float: left; 
    padding: 0 15px; 
    box-sizing: border-box;
}
.row { 
    margin-left: -15px;  
    margin-right: -15px;
}

.row:after ,.clearfix:after {
    content:"";
    display: block;
    clear: both;
}

.pull-right {float:right} 
.pull-left{float:left}
.text-right{text-align:right;} 
.text-center{text-align:center;}
.inline-block {display: inline-block;}  
ul.list-inline{padding:0; margin:0}
ul.list-inline>li{display: inline-block;} 
.inline {display: inline}
.container{ 
    width: 940px; 
    margin: 0 auto;
    padding: 0px 10px;
}
body{
	min-width: 1200px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}
a{
    text-decoration: none;
}