// font-family: 'Open Sans', sans-serif;


.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }
div[class*="column"] {  
    float: left; 
    padding: 0 15px; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row { 
    margin-left: -15px;  
    margin-right: -15px;
}

.row:after ,.clearfix:after {
    content:"";
    display: block;
    clear: both;
}

.pull-right {float:right} 
.pull-left{float:left}
.text-right{text-align:right;} 
.text-center{text-align:center;}
.inline-block {display: inline-block;} 
.block {display: block;} 
ul.list-inline{padding:0; margin:0}
ul.list-inline>li{display: inline-block;} 
.inline {display: inline}
.container{ 
    width: 940px; 
    margin: 0 auto;
    padding: 0px 10px;
}
body{
	min-width: 1200px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    color: #7ec9c3;
}
a {
    text-decoration: none;
}

.logo img{
    max-width: 100%;
}
.navigation-row {
    background-color: #000;
}
.main-nav__list{
    text-align: right;

}
.main-nav__item{
    margin-right: 30px;
}
.main-nav__link{
    font-size: 18px;
    line-height: 60px;
    text-transform: uppercase;
    color: #7ec9c3;
}
.main-nav__item:last-child{
    margin-right: 0;
}


.promo{
    background-image: url(../img/sprite/bg_promo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.promo-title{
    padding: 440px 0 93px 0px;
    text-align: center;
    margin: 0 10%;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
}



.quests__list{
    margin-top: -36px;
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.quests-title{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
    position: relative;

}
.quests-title:before{
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/sprite/wheel_logo.svg);
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: cover;
    background-size: 100%;
    vertical-align: top;
    
}


.quest-cart__big{
    margin: 10px auto;
    min-height: 280px;

}
.quest-cart-title{
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    width: 25%;
    padding: 0px 0 0 60px;
}
.quest-cart__big-text{
    width: 45%;
    color: #fff;
}
.quest-cart__big-setting{
    display: inline-block;
    padding-left: 60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.quest-cart__small-text{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    width: 130px;
}
.quest-cart__small--open{
    color: #fdf;
}
.quest-cart__small{
    min-height: 280px;
    margin-bottom: 70px;
}
.quest-cart__small:nth-child(2n-1){
    margin-right: 10px;
}
.quest-cart__big--experiment{
    background-image: url(../img/sprite/expirement_promo.png);
    background-size: cover;
    background-repeat: no-repeat;    
}
.quest-cart__small--postapocalypse{
    background-image: url(../img/sprite/bg_postap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.quest-cart__small--cosmo{
    background-image: url(../img/sprite/bg_cosmo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.about{
    background-color: #000;
    margin-top: -36px;
}
.about__title{
    font-weight: normal;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}
.about-item{
    display: inline-block;
}
.about-item__img{
    height: 85px;
    max-width: 100%;
}
.about-item__text{
    text-transform: uppercase;
    width: 130px;
    padding: 55px 0 0 30px;   
    text-align: center;
}
.about-text{
    width: 85%;
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 95px;
}
.about-name{
    color: #7ec9c3;
}


.reviews{
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -36px;
}
.reviews-title{
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px
}
.reviews-item{
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
}
.reviews-item:nth-child(2n-1){
    margin-right: 10px;
}
.reviews-item__name{
    color: #fff;
    display: inline-block;
    float: left;
    padding: 10px 65px 0 30px;
}
.reviews-item__date{
    display: inline-block;
    padding-top: 10px;
}
.reviews-item__text{
    margin-top: 0;
    display: block;
    padding-left: 30px;
    width: 85%;
}
.reviews-form{

}
.reviews-form__text{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;
}
.reviews-form__name{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;

}
.reviews-form__mail{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;

}
.reviews-form__send{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px #396662 solid;
    color: #fff;

}

.contacts{
    background-color: #000;
}
.contacts-details{

}
.contacts-item{

}

footer{
    background-image: url(../img/sprite/bg_reviews_top.png);
    background-size: cover;
    background-repeat: no-repeat;
}